header,footer {
    background-color: aquamarine;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

footer div {
    color: black;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Time New Roman', Courier, monospace;
    text-decoration: underline;
}

li {
    font-family: monospace, Courier, sans-serif; 
}